<header class="header">
  <div class="container container__header">
    <div class="logo">
      <a href="./index.html" class="logo__header"> COCKTAILS </a>
      <nav>
        <ul class="nav">
          <li class="nav__item">
            <a class="nav__link current" href="./index.html">Home</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Favorite cocktails</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Favorite ingredients</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="search">
      <form class="search-form js-search-form" id="search-form">
        <input
          type="text"
          name="query"
          placeholder="Search"
          class="search-field"
        />
        <button type="submit" class="search-btn">
          <svg class="search-icon" width="12" height="12">
            <use href="#"></use>
          </svg>
        </button>
      </form>
    </div>
  </div>
</header>
